<% if field.resource.custom_menu_title.present? %>
  <div><strong>Title:</strong> <%= field.resource.custom_menu_title %></div>
<% end %>
<% if field.custom_menus.any? %>
  <% field.custom_menus.each do |menu| %>
    <% visible_roles = [] %>
    <% visible_roles << 'Administrador' if menu['visible_for_administrator'] %>
    <% visible_roles << 'Agent' if menu['visible_for_agent'] %>
    <div>
      <strong><%= menu['label'] %></strong>: <%= menu['link'] %>
      (<%= visible_roles.join(', ').presence || 'Sem visibilidade para Agent/Administrador' %>)
      <% if menu['token_id'].present? %>
        | token_id: <%= menu['token_id'] %>
      <% end %>
      <% if menu['blog_id'].present? %>
        | blog_id: <%= menu['blog_id'] %>
      <% end %>
      <% if menu['url_blog_id'].present? %>
        | url_blog_id: <%= menu['url_blog_id'] %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <span>-</span>
<% end %>
